.wrapper {
    width: 100%;
}

/* header 시작 */
header {
    height: 80px;
    border-bottom: 1px solid #adb5bd;
    padding-left: 1rem;
    position: relative;
    background-color: #f8f9fa;
}

header h1 {
    color: #495057;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* main 시작 */
main {
    margin: 0 auto;
    padding: 0 1rem;
    word-break: keep-all;
}

main a{
    text-decoration: underline !important;
}
main a:hover,
main a:active,
main a:focus {
    color:#0b7285;
    font-weight: bold;
    opacity: 0.8;
}

section+section {
    margin-top: 1.5rem;
}

main>div {
    min-height: 650px;
    padding: 1rem;
}

main .left {
    width: 23%;
    /* padding-right: 2rem; */
}

main .left .resume-img {
    background-image: url('../img/resume_img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 130px;
    height: 165px;
    margin: 0 auto;
    text-indent: -9999;
    font-size: 0px;
    border-radius: 50%;
    margin-top: 1rem;
}

main .left .personal-info {
    margin-top: 1rem;
}

main .left .personal-info li span {
    display: inline-block;
}

main .left .personal-info li span+span {
    margin-left: 5px;
}

main .left .personal-info li span:first-child {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

main .left .personal-info li:first-child span:first-child {
    background-image: url('../img/icons8-name-48.png');
}


main .left .personal-info li:nth-child(2) span:first-child {
    background-image: url('../img/icons8-new-post-48.png');
}


main .left .personal-info li:last-child span:first-child {
    background-image: url('../img/icons8-github-48.png');
}

main .left .skill-wrap {
    margin-top: 1rem;
}

main .left .skill-wrap ul {
    padding-left: 1.5rem;
}

main .left .skill-wrap ul li {
    list-style-type: disc;
}


main .right {
    padding-left:2rem;
    width: 77%;
    border-left: 1px solid #adb5bd;
}

main .right section:first-child p {
    padding-left: 1rem;
}

main .right section>ul {
    padding-left: 1rem;
}

main .right section:nth-child(2) ul li {
    /* display: block; */
}

main .right section:nth-child(2) ul>li>ul {
    /* list-style: inherit; */
    padding-left:1.5rem;
}

main .right section:nth-child(2) ul>li>ul>li {
    list-style-type: circle !important;
}


main .right section>ul>li+li {
    margin-top: 1rem;
}

main .right section>ul>li>ul {
    padding-left: 1rem;
}

main .right section>ul>li>ul>li::before {
    /* content: '-' */
}

main .right section>ul>li>ul>li+li {
    margin-top: 0.5rem;
}

main .right section>ul>li>ul>li>h4 {
    font-weight: normal;
    display: inline;
}

main .right section>ul>li>ul>li>p {
    padding-left: 0.5rem;
}

main .right section:nth-child(3)>ul>li,
main .right section:nth-child(4)>ul>li,
main .right section:nth-child(5)>ul>li {
    margin-left: 1rem;
    list-style-type: disc;
}

main .right h2 {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #adb5bd;
    margin-bottom: 1rem;
    color: #0b7285;
 
}

main .right h3{
    color: #495057;
    margin-bottom: 0.25rem;
}

main .right h4{}

/* footer 시작 */
footer {
    height: 100px;
    border-top: 1px solid #adb5bd;
    text-align: center;
    background-color: #f8f9fa;
}

footer>p {
    margin-top: 1.5rem;
}

footer button.block{
    display:block;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #0b7285;
    border:1px solid #0b7285;
    border-radius: 3px;
    cursor: pointer;
    position:fixed;
    bottom: 70px;
    right: 2.5rem;
    font-size: 1rem;
    z-index: 10;
}

@media screen and (max-width:1180px) {

    section+section {
        margin-top: 3rem;
    }

    .left,
    .right {
        width: 100% !important;
        float: none;
        border: none;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .left {
        border-bottom: 1px solid #555;
        min-height: inherit;
    }

    .left::after {
        display: block;
        content: '';
        clear: both;
    }

    .left .resume-img {
        margin-right: 20px !important;
    }

    .left .resume-img,
    .left .personal-info,
    .left .skill-wrap {
        float: left;
    }

    .left .personal-info {
        margin-right: 20px;
        /* width: calc((100% - 150px) - 20%); */
    }

    .left .skill-wrap {
        /* width: calc((100% - 150px) - 40%); */
    }

    .right {
        border-left: none !important;
        padding-left:1rem !important;
    }


}


@media screen and (max-width:639px) {

    div.left,
    div.right {
        width: 100%;
        float: none;
        border: none;
        padding-left: 0;
        padding-right: 0;
    }

    .left{
        padding-bottom:0;
    }

    .left .resume-img {
        float: none;
        margin: 0 auto !important;
    }

    .info-wrapper {
        width: 400px;
        margin: 0 auto;
    }

    .left .personal-info,
    .left .skill-wrap {
        float: left !important;
    }

    .right{
        padding-left:0 !important;
    }

}

@media screen and (max-width:414px) {
    .info-wrapper {
        width: 100%;
        /* margin:0 auto; */
    }

    .left .personal-info,
    .left .skill-wrap {
        float: none !important;
        width: 250px;
        margin: 0 auto;
    }

    footer Button.block{
     right:15px;
    }
    
}

@media screen and (max-width:349px) {}