.wrapper{
    width:100%;
}

/* header 시작 */
header{
height:80px;
border-bottom:1px solid #adb5bd;
padding-left:1rem;
position: relative;
background-color:#f1f3f5;
}

header h1{
    color:#495057;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
}

/* main 시작 */
main{
    margin:0 auto;
    padding:0 1rem;
}

section + section{
    margin-top: 1.5rem;
}

main > div{
    min-height:650px;
    padding: 1rem;
}

main .left{
    width: 23%;
    border-right:1px solid #adb5bd;
    /* padding-right: 2rem; */
}

main .left .resume-img{
    background-image: url('../img/resume_img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:130px;
    height:165px;
    margin:0 auto;
    text-indent: -9999;
    font-size: 0px;
    border-radius: 50%;
    margin-top: 1rem;
}

main .left .personal-info{
    margin-top: 1rem;
}

main .left .personal-info li span{
    display: inline-block;
}

main .left .personal-info li span + span{
    margin-left:5px;
}

main .left .personal-info li span:first-child{
width:20px;
height:20px;
vertical-align: bottom;
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}

main .left .personal-info li:first-child span:first-child{
    background-image: url('../img/icons8-name-48.png');
}


main .left .personal-info li:nth-child(2) span:first-child{
    background-image: url('../img/icons8-new-post-48.png');
}    


main .left .personal-info li:last-child span:first-child{
    background-image: url('../img/icons8-github-48.png');
}    


main .left .personal-info li span a:hover{
    font-weight: bold;
    opacity: 0.8;
}

main .left .skill-wrap{
    margin-top: 1rem;
}
main .left .skill-wrap ul{
    padding-left:1.5rem;
}

main .left .skill-wrap ul li{
    list-style-type: disc;
}


main .right{
    width:77%;
}


main .right h3{
    border-bottom: 1px solid red;
}

/* footer 시작 */
footer{
    height:100px;
    border-top:1px solid #adb5bd;
    text-align: center;
    background-color: #f1f3f5;
}

@media screen and (max-width:1180px) {
   .left, .right{
        width: 100% !important;
        float:none;
        border:none;
    }
    .left{
        border-right:none !important;
        border-bottom:1px solid #555;
        min-height: inherit;
    }

    .left::after{
        display: block;
        content:'';
        clear:both;
    }

    .left .resume-img{
        margin-right:20px !important;
    }

    .left .resume-img, 
    .left .personal-info, 
    .left .skill-wrap{
        float:left;
    }

    .left .personal-info{
        margin-right: 20px;
        /* width: calc((100% - 150px) - 20%); */
    }
   
    .left .skill-wrap{
        /* width: calc((100% - 150px) - 40%); */
    }



}


@media screen and (max-width:639px) {
    div.left, div.right{
        width: 100%;
        float:none;
        border:none;
        padding-left:0;
        padding-right:0;
    }
    .left .resume-img {
        float:none;
        margin:0 auto !important;
    }

    .info-wrapper{
        width:400px;
        margin:0 auto;
    }

    .left .personal-info, 
    .left .skill-wrap{
        float:left !important;
    }
}

@media screen and (max-width:414px) {
    .info-wrapper{
        width:100%;
        /* margin:0 auto; */
    }
    .left .personal-info, 
    .left .skill-wrap{
        float:none !important;
        width:250px;
        margin:0 auto;
    }
}

@media screen and (max-width:349px) {


}